html {
    scroll-behavior: snap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow:hidden;
}

nav {
    height:50px;
    background:rgba(0, 0, 0, 0.95);
    width:100%;
    overflow:hidden;
    position:fixed;
    top:0;
    z-index:999;
    ul {
        list-style: none;
    }
    li {
        float:left;
        padding-left:10px;
       line-height:50px;
    }
    a {
        text-decoration: none;
        color:#fff;
        font-weight: bold;
    }
}

#fullpage {
    height:100vh;
    /* Smooth */
    overflow-y: scroll;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;

}
#fullpage section {
    height:100vh; 
    scroll-snap-align: center;
}
h1 {
    color:white;
    font-size:200%;
    line-height:100vh;
    text-align:center;
}
#home {
    width:100%;
    background-color:rgb(177, 229, 239);
    background: url("../images/apa.jpg") no-repeat center center/cover;
}

#education {
    width:100%;
    background-color:rgb(85, 174, 194);
}

#portfolio {
    width:100%;
    background-color:rgb(94, 147, 191);
}

#work {
    width:100%;
    background-color:rgb(136, 192, 213);
}

#contact {
    width:100%;
    background-color:rgb(130, 120, 194);
}

