/* Joakim Rosqvist - Mittuniversitetet - 2019 */

html {
  scroll-behavior: smooth;
  font-family: "Acme", sans-serif;
}

body {
  color: $darkGray;
  color: white;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $darkGray;
  color: white;
  line-height: 150%;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Bhai", cursive;
}

// Container
#fullpage {
  height: 100vh;
}
// Varje sektion på sidan
#fullpage section {
  min-height: 100%;
  padding-bottom: 50px;
  scroll-snap-align: center;
  width: 100%;
  h2 {
    font-size: 200%;
    padding: 30px 0 15px 0;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 125%;
    padding: 20px 0 10px 0;
  }
}
#fullpage section:after {
  clear: both;
  content: "";
  display: block;
}

// Varannan sektion
#fullpage section:nth-child(odd) {
  background-color: $green;
  color: white;
  h2 {
    color: white;
  }
}
// Varannan sektion
#fullpage section:nth-child(even) {
  background-color: white;
  h2 {
    color: $darkGray;
  }
  p {
    color: $darkGray;
  }
}

.section-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2.5%;
}

#home {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  h2 {
    color: white;
    padding: 100px 0 50px 0 !important;
  }
}

#intro-picture,
#intro-text {
  float: left;
  width: 40%;
  margin: 2.5%;
  padding: 2.5%;
}

#intro-picture img {
  border-radius: 15px;
}
.text {
  padding-bottom: 10px;
}
#education {
  .education-box {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 26.333333333333%;
    padding: 2.5%;
    margin: 1%;
    margin-top: 0;
    top: 2%;
    background-color: $green;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 7px 14px rgba(171, 171, 171, 0.25), 0 5px 5px rgba(171, 171, 171, 0.22);
    .fas {
      color: $green;
      font-size: 14px;
      padding-right: 10px;
    }
  }
}

#portfolio {
  .webpage-box {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 26.333333333333%;
    padding: 2.5%;
    margin: 1%;
    margin: 0 1%;
    top: 1%;
    background-color: $green;
    border-radius: 5px;
  }

  .webpage-picture {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    min-height: 150px;
    border-radius: 10px;
    border: 5px solid $darkGray;
    border-radius: 10px 10px 0 0;
    border: 8px solid black;
    box-shadow: 1.25px 2.5px 2px $darkGray;
  }

  // Apple-skärmarna
  .pin {
    width: 5%;
    margin: 0 47.5%;
    height: 12px;
    background-color: $darkGray;
    background-color: rgb(232, 232, 232);
    width: 100%;
    margin: 0;
    height: 35px;
    border-radius: 0 0 10px 10px;
    position: relative;
    box-shadow: 1.25px 2.5px 2px $darkGray;
    margin-bottom: 10px;
    .fab {
      color: black;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  /*
.foot {
  width:20%;
  margin:0 40%;
  height:20px;
  border-radius:0;
  background-color:$darkGray;
  background-color:white;
}
*/
  .webpage-box:nth-child(1) a .webpage-picture {
    background-image: url("../images/djungel_css.jpg");
  }
  .webpage-box:nth-child(2) a .webpage-picture {
    background-image: url("../images/hannas_tavlor.jpg");
  }
  .webpage-box:nth-child(3) a .webpage-picture {
    background-image: url("../images/fussball_blog.jpg");
  }
  .webpage-box:nth-child(4) a .webpage-picture {
    background-image: url("../images/mogges.jpg");
  }
  .webpage-box:nth-child(5) a .webpage-picture {
    background-image: url("../images/skogsforetaget.jpg");
  }
  .webpage-box:nth-child(6) a .webpage-picture {
    background-image: url("../images/roffes.jpg");
  }
}

.description-p {
  width: 95%;
  padding: 2.5% 5%;
}
#work {
  .job-box {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 26.333333333333%;
    padding: 2.5%;
    margin: 1%;
    margin-top: 0;
    top: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 7px 14px rgba(171, 171, 171, 0.25), 0 5px 5px rgba(171, 171, 171, 0.22);
    box-shadow: 0 14px 28px rgba(150, 65, 65, 0.25), 0 10px 10px rgba(123, 47, 47, 0.22);
    p {
      color: $darkGray;
    }
    .fas {
      color: $green;
      font-size: 14px;
      padding-right: 10px;
    }
  }
}

#contact {
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  position: relative;
  // Pilen uppåt
  #up-pointer i {
    font-size: 50px;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 47.5%;
    animation: bounce-up 3s infinite linear forwards;
  }
  h2 {
    padding: 20px 0 10px 0;
    color: white !important;
  }
}
// MEDIA QUERIES
@media (max-width: 800px) {
  // Designar mobilmenyn
  #main-nav {
    z-index: 999;
    position: relative;
    float: none;
    width: 100%;
    a {
      padding: 5px;
      text-align: left;
      width: 100%;
      display: block;
      line-height: 0;
    }
    ul {
      display: none;
    }
    ul li {
      background-color: $darkGray;
      float: none;
      width: 100%;
      display: block;
      z-index: 99999;
    }
    ul li:nth-child(1) {
      border-top: 2px solid white;
    }
  }
  // Visar menyn då den har klassen open (via klick)
  #main-nav ul.open {
    display: block;
  }
  #mobile-container {
    position: relative;
    width: 40px;
    float: right;
    margin: 16px 10px;
  }
  #mobile-menu {
    cursor: pointer;
    display: block;
  }
  // De tre strecken som bygger upp mobilmenyn
  #mobile-menu span {
    background: white;
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
  }
  // Mittenstrecket försvinner vid klick
  #mobile-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  // Det understa strecket roterar och bildar ett halvt kryss
  #mobile-menu.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -6px;
  }
  // Det översta strecket roterar och bildar ett halvt krytt
  #mobile-menu.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 6px;
  }
  // SVG-animationen
  #svg-banner {
    width: 75%;
    height: 75%;
  }
  #intro-picture,
  #intro-text {
    float: none;
    width: 70%;
    margin: 1% 5%;
    padding: 2.5% 10%;
  }

  #intro-picture img {
    width: 50%;
    padding: 2.5% 20%;
    margin: 1% 5%;
  }

  #portfolio .webpage-box,
  #work .job-box,
  #education .education-box {
    width: 43%;
    padding: 2.5%;
    margin: 1%;
  }
  #contact-form-div {
    width: 90%;
    margin: 5% 5% 2.5% 5%;
    #contact-form {
      width: 90%;
      margin: 1% 2.5%;
      padding: 1% 2.5%;
    }
  }
}

@media (max-width: 550px) {
  // SVG-animationen
  #svg-banner {
    width: 50%;
    height: 50%;
  }
  #portfolio .webpage-box {
    width: 65%;
    padding: 2.5%;
    margin: 1% 15%;
    border-bottom: 2px solid rgb(115, 245, 163);
    border-radius: 0;
  }
  #work .job-box,
  #education .education-box {
    width: 83%;
    padding: 2.5%;
    margin: 1% 6%;
  }
  #contact-form-div {
    width: 95%;
    margin: 5% 2.5% 2.5% 2.5%;
    #contact-form {
      width: 92%;
      margin: 1% 1.5%;
      padding: 1% 2.5%;
    }
  }
  input[type="text"],
  textarea {
    width: 91%;
    margin: 0 2.5%;
    margin-bottom: 10px;
  }
  .submit-button {
    width: 40%;
    margin: 20px 30%;
  }
  #pop-up {
    width: 450px;
  }
  #pop-up .popup-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
