// Mixin som används för att ta bort float
@mixin clearFloat {
    &:after {
      content: "";
      display: float;
      clear: both;
    }
  }

  // Mixin som bygger upp ett rutnät(grid)
@mixin gridBuilder($columns, $margin) {
    float: left;
    margin-right: $margin;
    margin-bottom: $margin;
    width: ((100% - (($columns - 1) * $margin)) / $columns);
    &:nth-child(#{$columns}n) {
      margin-right: 0;
    }
  }